node_modules/
.env
*.env
.idea/
.DS_STORE
target/classes/ChampionParsing/Champion.class
target/classes/ChampionParsing/ChampionData.class
target/classes/ChampionParsing/ChampionNotFoundException.class
target/classes/ChampionParsing/ChampionSynonymMatcher.class
target/classes/ChampionParsing/CSVParser.class
target/classes/ChampionParsing/MalformedHeaderException.class
target/classes/ChampionParsing/SimpleSynonymMatcher.class
target/classes/Main$1.class
target/classes/Main$ExceptionPrinter.class
target/classes/Main$NameValidateHandler.class
target/classes/Main.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/stopwatch-1.0-SNAPSHOT.jar
target/
.mvn-classpath
.mvn-classpath
stopwatch-242419-8d258134234c.json
*.mp3
target/
*.wav
